**/build/
**/*.class
**/.settings/
**/MANIFEST.MF
**/.apt_generated/
**/WebContent/WEB-INF/classes/
**/bin/
**/.project
**/.classpath
**/.factorypath
.metadata
**/node_modules/
**/bower_components/
**/.sass-cache/
**/.tmp/
**/*.iml
**/.idea
**/target