<html xmlns:th="http://thymeleaf.org">

<head th:replace="layout/layout :: head">

</head>

<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">
		<nav th:replace="layout/layout :: menu"></nav>
		<aside th:replace="layout/layout :: sidebar"></aside>
		<div class="content-wrapper">

			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0 text-dark">Datos del Mes</h1>
						</div>
						<!-- /.col -->
						<!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->

			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-3 col-6">
							<!-- small box -->
							<div class="small-box bg-info">
								<div class="inner">
									<h3 th:text="${cantidadfacturaspendientesmes}"></h3>

									<p>Facturas Pendientes</p>
								</div>
								<div class="icon">
									<i class="ion ion-bag"></i>
								</div>
								<a th:href="@{/listarfactura}" class="small-box-footer">Mas info <i
										class="fas fa-arrow-circle-right"></i></a>
							</div>
						</div>
						<!-- ./col -->
						<div class="col-lg-3 col-6">
							<!-- small box -->
							<div class="small-box bg-success">
								<div class="inner">
									<h3 th:text="${totalpagadasmes}"></h3>
									<p>Total Pagado MES</p>
								</div>
								<div class="icon">
									<i class="ion ion-calculator"></i>
								</div>
								<a href="#" class="small-box-footer">Mas Info <i
										class="fas fa-arrow-circle-right"></i></a>
							</div>
						</div>
						<!-- ./col -->
						<div class="col-lg-3 col-6">
							<!-- small box -->
							<div class="small-box bg-primary">
								<div class="inner">
									<h3 th:text="${#numbers.formatInteger(numeroclientes,0)}"></h3>

									<p>Clientes Registrados</p>
								</div>
								<div class="icon">
									<i class="ion ion-person-add"></i>
								</div>
								<a th:href="@{/listar}" class="small-box-footer">Mas info <i
										class="fas fa-arrow-circle-right"></i></a>
							</div>
						</div>

						<!-- ./col -->
						<div class="col-lg-3 col-6">

							<!-- small box -->
							<div class="small-box bg-danger">
								<div class="inner">
									<h3 th:text="${totalpendientemes}"> </h3>

									<p>Total por Cobrar</p>
								</div>
								<div class="icon">
									<i class="ion ion-arrow-graph-up-right"></i>
								</div>
								<a href="#" class="small-box-footer">More info <i
										class="fas fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
				</div>


				<div class="card mb-4">
					<div class="card-header"><h3 class="card-title">Sales Value</h3></div>
					<div class="card-body"><div id="revenue-chart"></div></div>
				</div>
			</section>
			
		</div>
		<footer th:replace="layout/layout :: footer"></footer>

		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>
		<!-- /.control-sidebar -->
	</div>

</body>
</script>
<!-- apexcharts -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts@3.37.1/dist/apexcharts.min.js"
		integrity="sha256-+vh8GkaU7C9/wbSLIcwq82tQ2wTf44aOHA8HlBMwRI8="
		crossorigin="anonymous"
></script>
<!-- ChartJS -->
<script>
    const sales_chart_options = {
      series: [
        {
          name: 'Digital Goods',
          data: [28, 48, 40, 19, 86, 27, 90],
        },
        {
          name: 'Electronics',
          data: [65, 59, 80, 81, 56, 55, 40],
        },
      ],
      chart: {
        height: 300,
        type: 'area',
        toolbar: {
          show: false,
        },
      },
      legend: {
        show: false,
      },
      colors: ['#0d6efd', '#20c997'],
      dataLabels: {
        enabled: false,
      },
      stroke: {
        curve: 'smooth',
      },
      xaxis: {
        type: 'datetime',
        categories: [
          '2025-01-01',
          '2025-02-01',
          '2025-03-01',
          '2025-04-01',
          '2025-05-01',
          '2025-06-01',
          '2025-07-01',
          '2025-08-01'
        ],
      },
      tooltip: {
        x: {
          format: 'MMMM yyyy',
        },
      },
    };

    const sales_chart = new ApexCharts(
      document.querySelector('#revenue-chart'),
      sales_chart_options,
    );
    sales_chart.render();
</script>
<!-- jsvectormap -->
<script
		src="https://cdn.jsdelivr.net/npm/jsvectormap@1.5.3/dist/js/jsvectormap.min.js"
		integrity="sha256-/t1nN2956BT869E6H4V1dnt0X5pAQHPytli+1nTZm2Y="
		crossorigin="anonymous"
></script>
<script
		src="https://cdn.jsdelivr.net/npm/jsvectormap@1.5.3/dist/maps/world.js"
		integrity="sha256-XPpPaZlU8S/HWf7FZLAncLg2SAkP8ScUTII89x9D3lY="
		crossorigin="anonymous"
></script>
</html>